{% extends "base/head.html" %}
{% block content %}

 
<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Uploaded Image</h1>
                <img src="static/images/new/dimen-4.png" style="height: 70%; width: 70%;">
            </div>
        </div>
    </div>
</div>
 <div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="static/images/new/dimen-5.png" alt="">
            </div>
        </div>
    </div>
</div>

  

<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img src="static/images/new/dimen-6.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Forms -->
 

{% endblock %}